.banner {
  width: 100%;
}

.bottom-left {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  width: 83%;
  padding: 5%;
  bottom: 6.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  position: relative;
  color: white;
  font-size: 16px;
  padding-right: 7%;
}

.news {
  margin: 38px 0px 20px 0px;
}

#news1 {
  width: 100%;
}

.view-all {
  color: #006c33;
  float: right;
  font-size: 16px;
  text-decoration: underline;
}
