@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

* {
  font-family: 'Prompt', sans-serif !important;
}

#avatar {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#avatar-div {
  height: 50%;
  background-color: #d9d9d9;
  margin-left: 15%;
  text-align: center;
}

#avatar + label {
  cursor: pointer;
  font-size: 100px;
}

.breadcrumb {
  padding-bottom: 2rem;
}

.breadcrumb p {
  font-size: 1.5rem;
  font-weight: bold;
}

.breadcrumb a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

button,
input[type='submit'] {
  cursor: pointer;
}

.buttons {
  display: flex;
  padding-top: 78px;
}

#cancel {
  margin: 0 55px 0 auto;
  color: #006c33;
  border-color: #006c33;
  font-size: 15px;
  width: 100%;
}

#categories {
  background-color: #f1f1f1;
  color: #333333;
  height: 0.5rem;
}

.clear {
  height: 133px;
}

#column1 {
  width: 10%;
  text-align: center;
}

#column2 {
  width: 55%;
}

#column3 {
  width: 10%;
}

#column4 {
  width: 15%;
}

#column5 {
  width: 15%;
}

#column5 a {
  padding-right: 20px;
}

.header {
  font-size: 24px;
  height: 80px;
}

#en,
#th {
  cursor: pointer;
}

.copyright {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 29px 0 29px 76px;
}

.grid {
  display: grid;
  grid-template-columns: 70% 30%;
}

.body {
  padding: 16px 78px 0 76px;
}

#image {
  margin-left: 15%;
  width: 85%;
}

.information {
  display: grid;
  grid-template-columns: 100%;
}

#title-label,
#th-title-label,
#en-title-label,
#category-label,
#publish-label {
  font-size: 14px;
  color: #006c33;
}

.language {
  float: right;
  display: inline-flex;
}

.link {
  color: #006c33;
  text-decoration: underline;
}

.logo {
  float: left;
  width: 178px;
}

nav {
  display: flex;
}

#new-news {
  color: #006c33;
  font-size: 15px;
  padding: 18px 0 11px 0;
}

#new-news a {
  color: #006c33;
  text-decoration: none;
}

#th-title,
#en-title {
  color: #111111;
}

#category {
  color: #333333;
}

#search,
#submit {
  width: 100%;
  height: 100%;
  font-size: 15px;
  background: #006c33;
}

table {
  text-align: left;
  width: 100%;
}

th,
td {
  border: 1px solid #b9b9b9;
  font-size: 12px;
  height: 15px;
  padding: 10px 8px;
}

th {
  font-weight: bold;
  background-color: #f1f1f1;
}

td {
  background-color: white;
}

textarea {
  padding: 16px 0 0 16px;
}

#title {
  background-color: #f1f1f1;
  border: 1px solid #006c33;
  border-radius: 4px;
}
